[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
pylint = "*"
sqlalchemy = "*"
psycopg2 = "*"
matplotlib = "*"

[requires]
python_version = "3"
